@using PartyInvites.Domain.Entities
@model GuestResponse

<div class="well">
    @if (Model.ImageData != null) {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75px" height="75px"
                 src="@Url.Action("GetImage", "Home",
                          new {Model.Email})"/>
        </div>
    } else {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75px" height="75px"
                 src="~/Images/defaultImage.png" />
        </div>
    }

    <div class="guestWell">
        <h3><span class="glyphicon glyphicon-user"></span> @Model.Name</h3>
        <p><span class="glyphicon glyphicon-envelope"></span> @Model.Email</p>
        <p><span class="glyphicon glyphicon-phone"></span> @Model.Phone</p>
        <p>
            @if (@Model.WillAttend == true) {
                <span class="glyphicon glyphicon-ok" style="color: green"></span>
                @: Present
            } else {
                <span class="glyphicon glyphicon-remove" style="color: red"></span>
                @: Not Present
            }
        </p>
    </div>

</div>

